# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# Gradio
gradio_cached_examples/
gradio_output/

# 数据和模型文件（如不打算开源）
*.pt
*.bin
*.ckpt
*.log
*.tmp

# 环境配置
.env
.DS_Store

# Chroma 向量数据库
chroma/
